- title "Etapper"

%table
  %tr
    %th Etapper|
    %th Konkurrent|
    %th Konkurrent
  - for trip in @trips
    %tr
      %td= trip.counts
    %tr
      %td= trip.user_1
    %tr
      %td= trip.user_2
    %tr
      %td= link_to 'Show', trip
      %td= link_to 'Edit', edit_trip_path(trip)
      %td= link_to 'Destroy', trip, :confirm => 'Are you sure?', :method => :delete

%p= link_to "Ny etappe", new_trip_path
