- title "Trips"

%table
  %tr
    %th Counts
    %th User 1
    %th User 2
  - for trip in @trips
    %tr
      %td= trip.counts
      %td= trip.user_1
      %td= trip.user_2
      %td= link_to 'Show', trip
      %td= link_to 'Edit', edit_trip_path(trip)
      %td= link_to 'Destroy', trip, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Trip", new_trip_path
