- title "Etapper"

%p
  %strong Etapper:
  = @trip.counts
%p
  %strong Konkurrent:
  = @trip.user_1
%p
  %strong Konkurrent:
  = @trip.user_2

%p
  = link_to "Edit", edit_trip_path(@trip)
  |
  = link_to "Destroy", @trip, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", trips_path
