<% title "Country" %>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>
<p>
  <strong>Population:</strong>
  <%= @country.population %>
</p>
<p>
  <strong>Area:</strong>
  <%= @country.area %>
</p>
<p>
  <strong>Currency:</strong>
  <%= @country.currency %>
</p>
<p>
  <strong>Capital:</strong>
  <%= @country.capital %>
</p>

<p>
  <%= link_to "Edit", edit_country_path(@country) %> |
  <%= link_to "Destroy", @country, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", countries_path %>
</p>
