%img#background( src="/images/nokkelskjerm2_uten_landnavn.jpg" )

  #imagetext
    - 4.times do
      %br
    %p#imagetext_bg
      = @country.name

    - if $show_edit
      %p
        = link_to "Edit", edit_country_path(@country)
        |
        = link_to "Destroy", @country, :confirm => 'Are you sure?', :method => :delete
        |
        = link_to "View All", countries_path

    %br
    %p#imagetext_bg
      = link_to "Tjen penger - svar på spørsmål!", "/questions/1"
