- if current_user
  Logget inn som #{ current_user.username }
  = link_to "Min profil", current_user
  = link_to "Logout", logout_path
  -#  - geo = Geocoder.search(request.ip)
  -#Lokasjon: #{ geo.city }, #{ geo.country }
- else
  = link_to "Register", new_user_path
  = link_to "Logg inn", login_path
