- if current_user
  - geo = Geocoder.search(request.ip)
  Logged in as #{ current_user.username } currently in #{ geo.city }, #{ geo.country }
  = link_to "Min profil", current_user
  = link_to "Logout", logout_path
- else
  = link_to "Register", new_user_path
  = link_to "Logg inn", login_path
